@if $use-color-classes == true {
  $color-list: join(color(brand), color(base));

  @each $name, $color in $color-list {
    .color-#{$name} {
      color: $color;
    }

    .bg-#{$name} {
      background-color: $color;
    }

    .placeholder-#{$name} {
      opacity: 1;
      color: $color;
    }

    .border-#{$name} {
      border-color: $color;
      border-style: solid;
    }

    .text-shadow-#{$name} {
      text-shadow: 0.1rem 0 0 $color, -0.1rem 0 0 $color, 0 0.1rem 0 $color,
        0 -0.1rem 0 $color, 0.1rem 0.1rem $color, -0.1rem -0.1rem 0 $color,
        0.1rem -0.1rem 0 $color, -0.1rem 0.1rem 0 $color;
    }

    .hover\:bg-#{$name}:hover {
      background-color: $color;
    }

    .hover\:color-#{$name}:hover {
      color: $color;
    }

    @include max_devices($lg){
      .lg\:bg-#{$name} {
        background-color: $color;
      }
      .lg\:color-#{$name} {
        color: $color;
      }
    }
    @include max_devices($md){
      .md\:bg-#{$name} {
        background-color: $color;
      }
      .md\:color-#{$name} {
        color: $color;
      }
    }
    @include max_devices($sm){
      .sm\:bg-#{$name} {
        background-color: $color;
      }
      .sm\:color-#{$name} {
        color: $color;
      }
    }
  }
}
