//
// Colors Helper Classes
/// @require {Boolean} $use-color-classes - base variable in Settings
/// @require {function} color - helper function to get color value
//

@if $use-color-classes == true {
  $color-list: join(color(brand), color(base));

  @each $name, $color in $color-list {
    .color-#{$name} {
      color: $color;
    }

    .bg-#{$name} {
      background-color: $color;
    }

    .placeholder-#{$name} {
      opacity: 1;
      color: $color;
    }

    .border-#{$name} {
      border-color: $color;
      border-style: solid;
    }

    .text-shadow-#{$name} {
      text-shadow: 1px 0 0 $color, -1px 0 0 $color, 0 1px 0 $color,
        0 -1px 0 $color, 1px 1px $color, -1px -1px 0 $color, 1px -1px 0 $color,
        -1px 1px 0 $color;
    }

    .hover\:bg-#{$name} {
      &:hover {
        background-color: $color;
      }
    }

    .hover\:text-#{$name} {
      &:hover {
        color: $color;
      }
    }
  }
}
