@if $use-helper-border-styles == true {
  .br {
    &-5 {
      border-radius: 0.5rem;
    }

    &-10 {
      border-radius: 1rem;
    }
    &-full {
      border-radius: 45rem;
    }
  }

  @for $i from 1 through 10 {
    .border-#{$i} {
      border-width: #{$i}px;
    }
    .border-b-#{$i} {
      border-bottom-width: #{$i}px;
    }
  }
  @include max_devices(768) {
    .md\:br {
      &-5 {
        border-radius: 0.5rem;
      }

      &-10 {
        border-radius: 1rem;
      }
    }
  }
}
