//
// Display Helper Classes
/// @require {Boolean} $use-helper-box-styles - base variable in Settings
/// @see  /Settings/base-options.scss - All base options - All base options
//

@if $use-helper-box-styles == true {
    .w100 {
        width: 100%;
    }
    .btn {
        cursor: pointer;
    }
    .h100 {
        height: 100%;
    }
    .active {
        filter: brightness(1.1);
    }

    .received {
        filter: grayscale(1);
    }

    .pe-none {
        pointer-events: none;
    }

    @media screen and (max-width: 768px) {
        .md\:w100 {
            width: 100%;
        }
        .md\:btn {
            cursor: pointer;
        }
        .md\:w100 {
            width: 100%;
        }
        .md\:h100 {
            height: 100%;
        }
        .md\:active {
            filter: brightness(1.1);
        }

        .md\:received {
            filter: grayscale(1);
        }
    }
}
