@if $use-helper-text-styles == true {
  .text {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }

    &-just {
      text-align: justify;
    }

    &-capitalized {
      text-transform: capitalize;
    }

    &-small {
      font-variant-caps: small-caps;
      font-feature-settings: "smcp";
    }

    &-upper {
      text-transform: uppercase;
    }

    &-r {
      font-weight: 400;
    }

    &-bold {
      font-weight: bold;
    }

    &-italic {
      font-style: italic;
    }

    &-underline {
      text-decoration: underline;
    }

    &-line-through {
      text-decoration: line-through;
    }

    &-no-underline {
      text-decoration: none;
    }
  }

  .align {
    &-top {
      vertical-align: top;
    }

    &-middle {
      vertical-align: top;
    }

    &-bottom {
      vertical-align: top;
    }
  }
  @include max_devices($lg) {
    .lg\:text {
      &-left {
        text-align: left;
      }

      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
      }

      &-just {
        text-align: justify;
      }

      &-capitalized {
        text-transform: capitalize;
      }

      &-small {
        font-variant-caps: small-caps;
        font-feature-settings: "smcp";
      }

      &-upper {
        text-transform: uppercase;
      }

      &-r {
        font-weight: 400;
      }

      &-bold {
        font-weight: 600;
      }

      &-bold {
        font-weight: bold;
      }

      &-italic {
        font-style: italic;
      }

      &-underline {
        text-decoration: underline;
      }

      &-line-through {
        text-decoration: line-through;
      }

      &-no-underline {
        text-decoration: none;
      }
    }

    .align {
      &-top {
        vertical-align: top;
      }

      &-middle {
        vertical-align: top;
      }

      &-bottom {
        vertical-align: top;
      }
    }
  }
  @include max_devices($md) {
    .md\:text {
      &-left {
        text-align: left;
      }

      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
      }

      &-just {
        text-align: justify;
      }

      &-capitalized {
        text-transform: capitalize;
      }

      &-small {
        font-variant-caps: small-caps;
        font-feature-settings: "smcp";
      }

      &-upper {
        text-transform: uppercase;
      }

      &-r {
        font-weight: 400;
      }

      &-bold {
        font-weight: 600;
      }

      &-bold {
        font-weight: bold;
      }

      &-italic {
        font-style: italic;
      }

      &-underline {
        text-decoration: underline;
      }

      &-line-through {
        text-decoration: line-through;
      }

      &-no-underline {
        text-decoration: none;
      }
    }

    .align {
      &-top {
        vertical-align: top;
      }

      &-middle {
        vertical-align: top;
      }

      &-bottom {
        vertical-align: top;
      }
    }
  }
  @include max_devices($sm) {
    .sm\:text {
      &-left {
        text-align: left;
      }

      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
      }

      &-just {
        text-align: justify;
      }

      &-capitalized {
        text-transform: capitalize;
      }

      &-small {
        font-variant-caps: small-caps;
        font-feature-settings: "smcp";
      }

      &-upper {
        text-transform: uppercase;
      }

      &-r {
        font-weight: 400;
      }

      &-bold {
        font-weight: 600;
      }

      &-bold {
        font-weight: bold;
      }

      &-italic {
        font-style: italic;
      }

      &-underline {
        text-decoration: underline;
      }

      &-line-through {
        text-decoration: line-through;
      }

      &-no-underline {
        text-decoration: none;
      }
    }

    .align {
      &-top {
        vertical-align: top;
      }

      &-middle {
        vertical-align: top;
      }

      &-bottom {
        vertical-align: top;
      }
    }
  }
}
