//
// Display Helper Classes
/// @require {Boolean} $use-helper-display-styles - base variable in Settings
/// @see  /Settings/base-options.scss - All base options - All base options
//

@if $use-helper-display-styles == true {
  .block {
    display: block;
  }

  .grid {
    display: grid;
  }

  @media screen and(max-width:768px) {
    .md\:block {
      display: block;
    }

    .md\:grid {
      display: grid;
    }
  }
}
