@if $use-helper-object-fit-styles == true {
  .object {
    &-contain {
      object-fit: contain;
    }
    &-cover {
      object-fit: cover;
    }
    &-fill {
      object-fit: fill;
    }
    &-none {
      object-fit: none;
    }
    &-scale-down {
      object-fit: scale-down;
    }
  }

  @include max_devices(1024) {
    .lg\:object {
      &-contain {
        object-fit: contain;
      }
      &-cover {
        object-fit: cover;
      }
      &-fill {
        object-fit: fill;
      }
      &-none {
        object-fit: none;
      }
      &-scale-down {
        object-fit: scale-down;
      }
    }
  }
  @include max_devices(768) {
    .md\:object {
      &-contain {
        object-fit: contain;
      }
      &-cover {
        object-fit: cover;
      }
      &-fill {
        object-fit: fill;
      }
      &-none {
        object-fit: none;
      }
      &-scale-down {
        object-fit: scale-down;
      }
    }
  }
  @include max_devices(568) {
    .sm\:object {
      &-contain {
        object-fit: contain;
      }
      &-cover {
        object-fit: cover;
      }
      &-fill {
        object-fit: fill;
      }
      &-none {
        object-fit: none;
      }
      &-scale-down {
        object-fit: scale-down;
      }
    }
  }
}
