.vscode/**
templates/**
.editorconfig
.prettierignore
changelog.md
git.txt
LAYOUT.md
package-lock.json
package.json
plopfile.js
README.md
prepros.config
snippet.txt
psd/**
node_modules.rar
node_modules/**
plop-templates/**