<footer id="footer">
    <div class="container">
        <div class="logo gosu"></div>
        <div class="address">
            <ul class="menu_footer">
                <li><a href="http://cuuam.gosu.vn/home/news/tin-tuc/quy-dinh-tham-gia-game-thuoc-cong-dong-cuu-am-chan-kinh.html"
                        target="_blank">Điều khoản sử dụng</a></li>
                <li><a href="https://id.gosu.vn/" target="_blank">Bảo mật tài khoản</a></li>
                <li><a href="http://cuuam.gosu.vn/home/cuu-am-bao-dien/tan-thu/co-ban/tai-va-cai-dat-game.html"
                        target="_blank">Hướng dẫn cài đặt &amp; gỡ bỏ</a></li>
                <li><a href="https://id.gosu.vn/News/Details/29" target="_blank">Thanh toán</a></li>
            </ul>
            <p>© GOSU độc quyền phát hành tại Việt Nam</p>
            <p>Địa chỉ: 85 Nguyễn Chí Thanh, Phường Láng Hạ, Quận Đống Đa, Hà Nội</p>
        </div>
        <div class="logo cubinet"></div>
    </div>
</footer>