<footer class="footer d-flex j-center a-center">
        <div class="container d-flex j-space-around a-center">
            <img class="left_logo" src="http://nkvs2.gosu.vn/public/static/templates/frontend/intro/hoason/assets/images/footer_logo1.png" alt="logo1">
            <div class="content font-tahoma">
                <div class="top_text  t-center clearfix">
                    <ul>
                        <li>
                            <a href="https://id.gosu.vn/News/Details/17" target="_blank">Điều khoản sử dụng</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="https://id.gosu.vn/News/Policy" target="_blank">Bảo mật tài khoản</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="https://id.gosu.vn/Payment?game=nkvs2" target="_blank">Thanh toán</a>
                        </li>
                    </ul>
                </div>
                <div class="middle_text  t-center">
                    <p>© Bản quyền trò chơi thuộc Ixinyou, GOSU độc quyền phát hành tại Việt Nam</p>
                </div>
                <div class="bottom_text  t-center">
                    <p>85 Nguyễn Chí Thanh, Phường Láng Hạ, Quận Đống Đa, Hà Nội</p>
                </div>
            </div>
            <img class="right_logo" src="http://nkvs2.gosu.vn/public/static/templates/frontend/intro/hoason/assets/images/footer_logo2.png" alt="logo2">
        </div>
    </footer>