<footer class="footer">
    <div class="container">
        <div class="wrapper-footer d-flex">
            <div class="info-game">
                <img class="icon-game" alt="" src="/bundles/web/home/images/icon-lmtk.png">
            </div>
            <div class="info-footer font-tahoma">
                <p class="txt-name-game font-tahoma-bold">Lục Mạch Thần Kiếm</p>
                <p class="txt-more-game">Game Kiếm Hiệp Chuẩn Nguyên Tác</p>
                <div class="link-footer">
                    <ul class="hotline font-tahoma">
                        <li>
                            <a target="_blank" href="http://hotro.gosu.vn/">Hỗ trợ</a>
                        </li>
                        <li>|</li>
                        <li>
                            Hotline: <a class="tel-no font-tahoma-bold" href="tel:19007189">1900 7189</a>
                        </li>
                    </ul>
                    <ul class="link-privacy font-tahoma">
                        <li>
                            <a target="_blank" href="/dieu-khoan-su-dung" class="term">Điều khoản sử dụng</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a target="_blank" href="/cai-dat-go-bo" class="in-unstall">Cài đặt &amp; Gỡ bỏ</a>
                        </li>
                    </ul>
                    <p class="giay-phep font-tahoma">Giấy phép số 2012/QĐ-BTTTT do Bộ Thông tin và Truyền thông cấp ngày
                        25/11/2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>