<div class="about-footer">
    <footer class="footer">
        <div class="container">
            <div class="wrapper-footer">
                <div class="info-game clearfix">
                    <img class="icon-game" alt="" src="/bundles/web/home/assets/images/icon-9D.png">
                    <div class="info-txt">
                        <p class="txt-name-game text-upper fllqbold">cửu dương truyền kỳ</p>
                        <p class="txt-more-game frobotomedium">Cửu Dương Truyền Kỳ xứng đáng với danh hiệu Kiếm Hiệp
                            Chính Tông – Nói Không Với Cánh và sở hữu nhiều điểm đặc sắc: Nhập vai ngũ hành, săn đồ
                            không khóa, Tống Kim rực lửa,.. Thế giới kiếm hiệp tuyệt đỉnh chuẩn 3D, nơi bắt đầu của
                            những trận chiến oanh liệt, đẫm máu được mong chờ nhất năm 2019.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="link-footer">
                <p class="t-center hotline fllqregular">
                    Hotline: <a href="tel:19007189">19007189</a>
                </p>
                <ul class="link-privacy">
                    <li>
                        <a target="_blank" href="/dieu-khoan-su-dung" class="term a100 t-center text-upper"></a>
                    </li>
                    <li>
                        <a target="_blank" href="/cai-dat-go-bo" class="in-unstall a100 t-center text-upper"></a>
                    </li>
                </ul>
                <div class="scroll-top top-mb t-center visible-mobile">
                    <img src="/bundles/web/home/assets/images/mobile/top.png" alt="">
                </div>
                <p class="giay-phep t-center">Giấy phép số 1477/QĐ-BTTTT do <br> Bộ Thông tin và Truyền thông cấp
                    ngày 12/09/2019</p>

            </div>
        </div>
    </footer>
</div>