<div id="popup-noti" class="modal-form">
    <div class="modal-main">
        <div class="popup-container clearfix t-center">
            <span class="modal-close"></span>
            <div class="popup-title font-tahoma">
                <span>Thông báo</span>
            </div>
            <div class="popup-text font-tahoma">
                <span>វេនបង្វិល ១០ ដងមើលលម្អិតក្នុងប្រវត្តិសាស្រ្ត</span>
            </div>
        </div>
    </div>
</div>
<button id="btn-popup-noti">Popup thông báo</button>
<script>
    $("#btn-popup-noti").on("click", function () {
        $("#popup-noti").fadeToggle("modal-show");
    });

    $(".modal-close").on("click", function () {
        $(".modal-form").removeClass("modal-show");
    });

    $(".modal-form").on("click", function () {
        $(this).fadeToggle("modal-show");
    });
</script>