<div class="nav-right t-center visible-pc">
	<img
		src="https://lmtk.vn/bundles/web/home/images/pc/qr-code.jpg?v=111"
		alt=""
		class="qr-code"
	/>
	<a
		class="link-ggplay"
		href="https://play.google.com/store/apps/details?id=vn.lmtk.gg"
		target="_blank"
		><img
			src="https://lmtk.vn/bundles/web/home/images/pc/btn-ggplay-nav.png"
			alt=""
	/></a>
	<a
		class="link-appstore"
		target="_blank"
		href="https://apps.apple.com/us/app/id1489924194"
		><img
			src="https://lmtk.vn/bundles/web/home/images/pc/btn-apple-nav.png"
			alt=""
	/></a>

	<a
		class="link-pc"
		href="https://355.gsscdn.com/apk/LucMachThanKiem3D.apk"
	></a>

	<div class="btn-social-nav">
		<a class="btn-home" href="/home"></a>
		<a
			target="_blank"
			class="btn-fb"
			href="https://www.facebook.com/lucmachthankiemgosu/"
		></a>
		<a
			target="_blank"
			class="btn-yt"
			href="https://www.youtube.com/channel/UCM5haBiaZ6QiXo58ZWOEP4Q"
		></a>
	</div>
	<a class="go-top scroll-top"></a>
</div>
<script>
	$(".go-top").on("click", function () {
		$("html, body").animate(
			{
				scrollTop: "0",
			},
			3000,
		);
	});

	$(document).ready(function () {
		var offset = $(".nav-right").offset().top,
			top;
		$(document).on("scroll", function () {
			top =
				$(window).scrollTop() < offset
					? "16.5rem"
					: $(window).scrollTop() +150+ "px";
			$(".nav-right").css({
				top: top,
			});
			console.log($(window).scrollTop());
		});
	});
</script>
