<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!-- $title =  {{pascalCase name}} -->
    <!-- @import partials/head -->
    <!-- @import partials/stylesheets -->

</head>

<body class="{{name}}_page">
    <!--[if lt IE 7]>
        <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Please
            <a href="#">upgrade your browser</a> to improve your experience.
        </p>
	<![endif]-->
    <!-- @import partials/header -->
    <!-- @import components/devices319 -->
    <div id="wrapper">
        <!-- PLOP_KIT_IMPORT -->
        <!-- @import {{ route}}/{{ name}} -->
    </div>
    <!-- @import partials/footer -->
    <!-- @import components/popup -->
    <!-- @import components/navright -->
    <!-- @import partials/javascripts -->

</body>

</html>