@if $use-color-classes == true {
  $color-list: join(color(brand), color(base));
  @each $name, $color in $color-list {
    .text-#{'' + $name} {
      color: $color;
    }

    .bg-#{'' + $name} {
      background-color: $color;
    }

    .border-#{'' + $name} {
      border-color: $color;
      border-style: solid;
    }

    .hover\:text-#{'' + $name}:hover {
      color: $color;
    }

    .hover\:bg-#{'' + $name}:hover {
      background-color: $color;
    }
  }

  @each $name, $color in $color-list {
    @include devices($custom) {
      .custom\:bg-#{'' + $name} {
        background-color: $color;
      }
      .custom\:text-#{'' + $name} {
        color: $color;
      }
      .custom\:border-#{'' + $name} {
        border-color: $color;
        border-style: solid;
      }
      .custom\:hover\:text-#{'' + $name}:hover {
        color: $color;
      }
      .custom\:hover\:bg-#{'' + $name}:hover {
        background-color: $color;
      }
    }
  }

  @each $name, $color in $color-list {
    @include devices($sm) {
      .sm\:bg-#{'' + $name} {
        background-color: $color;
      }
      .sm\:text-#{'' + $name} {
        color: $color;
      }
      .sm\:border-#{'' + $name} {
        border-color: $color;
        border-style: solid;
      }
      .sm\:hover\:text-#{'' + $name}:hover {
        color: $color;
      }
      .sm\:hover\:bg-#{'' + $name}:hover {
        background-color: $color;
      }
    }
  }

  @each $name, $color in $color-list {
    @include devices($md) {
      .md\:bg-#{'' + $name} {
        background-color: $color;
      }
      .md\:text-#{'' + $name} {
        color: $color;
      }
      .md\:border-#{'' + $name} {
        border-color: $color;
        border-style: solid;
      }
      .md\:hover\:text-#{'' + $name}:hover {
        color: $color;
      }
      .md\:hover\:bg-#{'' + $name}:hover {
        background-color: $color;
      }
    }
  }

  @each $name, $color in $color-list {
    @include devices($lg) {
      .lg\:bg-#{'' + $name} {
        background-color: $color;
      }
      .lg\:text-#{'' + $name} {
        color: $color;
      }
      .lg\:border-#{'' + $name} {
        border-color: $color;
        border-style: solid;
      }
      .lg\:hover\:text-#{'' + $name}:hover {
        color: $color;
      }
      .lg\:hover\:bg-#{'' + $name}:hover {
        background-color: $color;
      }
    }
  }

  @each $name, $color in $color-list {
    @include devices($xl) {
      .xl\:bg-#{'' + $name} {
        background-color: $color;
      }
      .xl\:text-#{'' + $name} {
        color: $color;
      }
      .xl\:border-#{'' + $name} {
        border-color: $color;
        border-style: solid;
      }
      .xl\:hover\:text-#{'' + $name}:hover {
        color: $color;
      }
      .xl\:hover\:bg-#{'' + $name}:hover {
        background-color: $color;
      }
    }
  }

  @each $name, $color in $color-list {
    @include devices($custom2) {
      .custom2\:bg-#{'' + $name} {
        background-color: $color;
      }
      .custom2\:text-#{'' + $name} {
        color: $color;
      }
      .custom2\:border-#{'' + $name} {
        border-color: $color;
        border-style: solid;
      }
      .custom2\:hover\:text-#{'' + $name}:hover {
        color: $color;
      }
      .custom2\:hover\:bg-#{'' + $name}:hover {
        background-color: $color;
      }
    }
  }
}
