@if $use-helper-overflow == true {
  .overflow {
    &-auto {
      overflow: auto;
    }

    &-hidden {
      overflow: hidden;
    }

    &-visible {
      overflow: visible;
    }

    &-scroll {
      overflow: scroll;
    }

    &-x-auto {
      overflow-x: auto;
    }

    &-y-auto {
      overflow-y: auto;
    }

    &-x-hidden {
      overflow-x: hidden;
    }

    &-y-hidden {
      overflow-y: hidden;
    }

    &-x-visible {
      overflow-x: visible;
    }

    &-y-visible {
      overflow-y: visible;
    }

    &-x-scroll {
      overflow-x: scroll;
    }

    &-y-scroll {
      overflow-y: scroll;
    }
  }

  @include devices($custom) {
    .custom\:overflow {
      &-auto {
        overflow: auto;
      }

      &-hidden {
        overflow: hidden;
      }

      &-visible {
        overflow: visible;
      }

      &-scroll {
        overflow: scroll;
      }

      &-x-auto {
        overflow-x: auto;
      }

      &-y-auto {
        overflow-y: auto;
      }

      &-x-hidden {
        overflow-x: hidden;
      }

      &-y-hidden {
        overflow-y: hidden;
      }

      &-x-visible {
        overflow-x: visible;
      }

      &-y-visible {
        overflow-y: visible;
      }

      &-x-scroll {
        overflow-x: scroll;
      }

      &-y-scroll {
        overflow-y: scroll;
      }
    }
  }
  @include devices($sm) {
    .sm\:overflow {
      &-auto {
        overflow: auto;
      }

      &-hidden {
        overflow: hidden;
      }

      &-visible {
        overflow: visible;
      }

      &-scroll {
        overflow: scroll;
      }

      &-x-auto {
        overflow-x: auto;
      }

      &-y-auto {
        overflow-y: auto;
      }

      &-x-hidden {
        overflow-x: hidden;
      }

      &-y-hidden {
        overflow-y: hidden;
      }

      &-x-visible {
        overflow-x: visible;
      }

      &-y-visible {
        overflow-y: visible;
      }

      &-x-scroll {
        overflow-x: scroll;
      }

      &-y-scroll {
        overflow-y: scroll;
      }
    }
  }
  @include devices($md) {
    .md\:overflow {
      &-auto {
        overflow: auto;
      }

      &-hidden {
        overflow: hidden;
      }

      &-visible {
        overflow: visible;
      }

      &-scroll {
        overflow: scroll;
      }

      &-x-auto {
        overflow-x: auto;
      }

      &-y-auto {
        overflow-y: auto;
      }

      &-x-hidden {
        overflow-x: hidden;
      }

      &-y-hidden {
        overflow-y: hidden;
      }

      &-x-visible {
        overflow-x: visible;
      }

      &-y-visible {
        overflow-y: visible;
      }

      &-x-scroll {
        overflow-x: scroll;
      }

      &-y-scroll {
        overflow-y: scroll;
      }
    }
  }
  @include devices($lg) {
    .lg\:overflow {
      &-auto {
        overflow: auto;
      }

      &-hidden {
        overflow: hidden;
      }

      &-visible {
        overflow: visible;
      }

      &-scroll {
        overflow: scroll;
      }

      &-x-auto {
        overflow-x: auto;
      }

      &-y-auto {
        overflow-y: auto;
      }

      &-x-hidden {
        overflow-x: hidden;
      }

      &-y-hidden {
        overflow-y: hidden;
      }

      &-x-visible {
        overflow-x: visible;
      }

      &-y-visible {
        overflow-y: visible;
      }

      &-x-scroll {
        overflow-x: scroll;
      }

      &-y-scroll {
        overflow-y: scroll;
      }
    }
  }
  @include devices($xl) {
    .xl\:overflow {
      &-auto {
        overflow: auto;
      }

      &-hidden {
        overflow: hidden;
      }

      &-visible {
        overflow: visible;
      }

      &-scroll {
        overflow: scroll;
      }

      &-x-auto {
        overflow-x: auto;
      }

      &-y-auto {
        overflow-y: auto;
      }

      &-x-hidden {
        overflow-x: hidden;
      }

      &-y-hidden {
        overflow-y: hidden;
      }

      &-x-visible {
        overflow-x: visible;
      }

      &-y-visible {
        overflow-y: visible;
      }

      &-x-scroll {
        overflow-x: scroll;
      }

      &-y-scroll {
        overflow-y: scroll;
      }
    }
  }
  @include devices($custom2) {
    .custom2\:overflow {
      &-auto {
        overflow: auto;
      }

      &-hidden {
        overflow: hidden;
      }

      &-visible {
        overflow: visible;
      }

      &-scroll {
        overflow: scroll;
      }

      &-x-auto {
        overflow-x: auto;
      }

      &-y-auto {
        overflow-y: auto;
      }

      &-x-hidden {
        overflow-x: hidden;
      }

      &-y-hidden {
        overflow-y: hidden;
      }

      &-x-visible {
        overflow-x: visible;
      }

      &-y-visible {
        overflow-y: visible;
      }

      &-x-scroll {
        overflow-x: scroll;
      }

      &-y-scroll {
        overflow-y: scroll;
      }
    }
  }
}
