@if $use-helper-float-styles == true {
  .float {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }
  }
  @include devices($custom) {
    .custom\:float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }
    }
  }
  @include devices($sm) {
    .sm\:float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }
    }
  }
  @include devices($md) {
    .md\:float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }
    }
  }
  @include devices($lg) {
    .lg\:float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }
    }
  }
  @include devices($xl) {
    .xl\:float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }
    }
  }
  @include devices($custom2) {
    .custom2\:float {
      &-left {
        float: left;
      }

      &-right {
        float: right;
      }
    }
  }
}
@if $use-helper-clearfix-class == true {
  .clearfix {
    @include clearfix;
  }
}
