@if $use-helper-tracking-styles == true {
  .tracking {
    &-tighter {
      letter-spacing: -0.05em;
    }
    &-tight {
      letter-spacing: -0.025em;
    }
    &-normal {
      letter-spacing: 0em;
    }
    &-wide {
      letter-spacing: 0.025em;
    }
    &-wider {
      letter-spacing: 0.05em;
    }
    &-widest {
      letter-spacing: 0.1em;
    }
  }

  @include devices($custom) {
    .custom\:tracking {
      &-tighter {
        letter-spacing: -0.05em;
      }
      &-tight {
        letter-spacing: -0.025em;
      }
      &-normal {
        letter-spacing: 0em;
      }
      &-wide {
        letter-spacing: 0.025em;
      }
      &-wider {
        letter-spacing: 0.05em;
      }
      &-widest {
        letter-spacing: 0.1em;
      }
    }
  }
  @include devices($sm) {
    .sm\:tracking {
      &-tighter {
        letter-spacing: -0.05em;
      }
      &-tight {
        letter-spacing: -0.025em;
      }
      &-normal {
        letter-spacing: 0em;
      }
      &-wide {
        letter-spacing: 0.025em;
      }
      &-wider {
        letter-spacing: 0.05em;
      }
      &-widest {
        letter-spacing: 0.1em;
      }
    }
  }
  @include devices($md) {
    .md\:tracking {
      &-tighter {
        letter-spacing: -0.05em;
      }
      &-tight {
        letter-spacing: -0.025em;
      }
      &-normal {
        letter-spacing: 0em;
      }
      &-wide {
        letter-spacing: 0.025em;
      }
      &-wider {
        letter-spacing: 0.05em;
      }
      &-widest {
        letter-spacing: 0.1em;
      }
    }
  }
  @include devices($lg) {
    .lg\:tracking {
      &-tighter {
        letter-spacing: -0.05em;
      }
      &-tight {
        letter-spacing: -0.025em;
      }
      &-normal {
        letter-spacing: 0em;
      }
      &-wide {
        letter-spacing: 0.025em;
      }
      &-wider {
        letter-spacing: 0.05em;
      }
      &-widest {
        letter-spacing: 0.1em;
      }
    }
  }
  @include devices($xl) {
    .xl\:tracking {
      &-tighter {
        letter-spacing: -0.05em;
      }
      &-tight {
        letter-spacing: -0.025em;
      }
      &-normal {
        letter-spacing: 0em;
      }
      &-wide {
        letter-spacing: 0.025em;
      }
      &-wider {
        letter-spacing: 0.05em;
      }
      &-widest {
        letter-spacing: 0.1em;
      }
    }
  }
  @include devices($custom2) {
    .custom2\:tracking {
      &-tighter {
        letter-spacing: -0.05em;
      }
      &-tight {
        letter-spacing: -0.025em;
      }
      &-normal {
        letter-spacing: 0em;
      }
      &-wide {
        letter-spacing: 0.025em;
      }
      &-wider {
        letter-spacing: 0.05em;
      }
      &-widest {
        letter-spacing: 0.1em;
      }
    }
  }
}
