@if $use-helper-position-styles == true {
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .static {
    position: static;
  }
  .fixed {
    position: fixed;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .inset {
    &-0 {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    &-x-0 {
      left: 0px;
      right: 0px;
    }
    &-y-0 {
      top: 0px;
      bottom: 0px;
    }
  }
  .bottom-0\.5 {
    bottom: 0.5rem;
  }
  .top-0\.5 {
    top: 0.5rem;
  }
  .right-0\.5 {
    right: 0.5rem;
  }
  .left-0\.5 {
    left: 0.5rem;
  }
  @for $i from 0 through $limit-unit {
    .top-#{$i} {
      top: #{$i}rem;
    }
    .-top-#{$i} {
      top: -#{$i}rem;
    }
    .left-#{$i} {
      left: #{$i}rem;
    }
    .-left-#{$i} {
      left: -#{$i}rem;
    }
    .right-#{$i} {
      right: #{$i}rem;
    }
    .-right-#{$i} {
      right: -#{$i}rem;
    }
    .bottom-#{$i} {
      bottom: #{$i}rem;
    }
    .-bottom-#{$i} {
      bottom: -#{$i}rem;
    }
    .z-#{$i} {
      z-index: #{$i};
    }
  }

  @include devices($custom) {
    .custom\: {
      &relative {
        position: relative;
      }

      &absolute {
        position: absolute;
      }

      &static {
        position: static;
      }

      &fixed {
        position: fixed;
      }
    }
    .custom\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .custom\:inset {
      &-0 {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      &-x-0 {
        left: 0px;
        right: 0px;
      }
      &-y-0 {
        top: 0px;
        bottom: 0px;
      }
    }
    .custom\:bottom-0\.5 {
      bottom: 0.5rem;
    }
    .custom\:top-0\.5 {
      top: 0.5rem;
    }
    .custom\:right-0\.5 {
      right: 0.5rem;
    }
    .custom\:left-0\.5 {
      left: 0.5rem;
    }

    @for $i from 0 through $limit-unit {
      .custom\:top-#{$i} {
        top: #{$i}rem;
      }
      .custom\:-top-#{$i} {
        top: -#{$i}rem;
      }
      .custom\:left-#{$i} {
        left: #{$i}rem;
      }
      .custom\:-left-#{$i} {
        left: -#{$i}rem;
      }
      .custom\:-right-#{$i} {
        right: -#{$i}rem;
      }
      .custom\:right-#{$i} {
        right: #{$i}rem;
      }
      .custom\:bottom-#{$i} {
        bottom: #{$i}rem;
      }
      .custom\:-bottom-#{$i} {
        bottom: -#{$i}rem;
      }
      .custom\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }

  @include devices($sm) {
    .sm\: {
      &relative {
        position: relative;
      }

      &absolute {
        position: absolute;
      }

      &static {
        position: static;
      }

      &fixed {
        position: fixed;
      }
    }
    .sm\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .sm\:inset {
      &-0 {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      &-x-0 {
        left: 0px;
        right: 0px;
      }
      &-y-0 {
        top: 0px;
        bottom: 0px;
      }
    }
    .sm\:bottom-0\.5 {
      bottom: 0.5rem;
    }
    .sm\:top-0\.5 {
      top: 0.5rem;
    }
    .sm\:right-0\.5 {
      right: 0.5rem;
    }
    .sm\:left-0\.5 {
      left: 0.5rem;
    }

    @for $i from 0 through $limit-unit {
      .sm\:top-#{$i} {
        top: #{$i}rem;
      }
      .sm\:-top-#{$i} {
        top: -#{$i}rem;
      }
      .sm\:left-#{$i} {
        left: #{$i}rem;
      }
      .sm\:-left-#{$i} {
        left: -#{$i}rem;
      }
      .sm\:-right-#{$i} {
        right: -#{$i}rem;
      }
      .sm\:right-#{$i} {
        right: #{$i}rem;
      }
      .sm\:bottom-#{$i} {
        bottom: #{$i}rem;
      }
      .sm\:-bottom-#{$i} {
        bottom: -#{$i}rem;
      }
      .sm\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
  @include devices($md) {
    .md\: {
      &relative {
        position: relative;
      }

      &absolute {
        position: absolute;
      }

      &static {
        position: static;
      }

      &fixed {
        position: fixed;
      }
    }
    .md\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .md\:inset {
      &-0 {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      &-x-0 {
        left: 0px;
        right: 0px;
      }
      &-y-0 {
        top: 0px;
        bottom: 0px;
      }
    }
    .md\:bottom-0\.5 {
      bottom: 0.5rem;
    }
    .md\:top-0\.5 {
      top: 0.5rem;
    }
    .md\:right-0\.5 {
      right: 0.5rem;
    }
    .md\:left-0\.5 {
      left: 0.5rem;
    }

    @for $i from 0 through $limit-unit {
      .md\:top-#{$i} {
        top: #{$i}rem;
      }
      .md\:-top-#{$i} {
        top: -#{$i}rem;
      }
      .md\:left-#{$i} {
        left: #{$i}rem;
      }
      .md\:-left-#{$i} {
        left: -#{$i}rem;
      }
      .md\:-right-#{$i} {
        right: -#{$i}rem;
      }
      .md\:right-#{$i} {
        right: #{$i}rem;
      }
      .md\:bottom-#{$i} {
        bottom: #{$i}rem;
      }
      .md\:-bottom-#{$i} {
        bottom: -#{$i}rem;
      }
      .md\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
  @include devices($lg) {
    .lg\: {
      &relative {
        position: relative;
      }

      &absolute {
        position: absolute;
      }

      &static {
        position: static;
      }

      &fixed {
        position: fixed;
      }
    }
    .lg\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .lg\:inset {
      &-0 {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      &-x-0 {
        left: 0px;
        right: 0px;
      }
      &-y-0 {
        top: 0px;
        bottom: 0px;
      }
    }
    .lg\:bottom-0\.5 {
      bottom: 0.5rem;
    }
    .lg\:top-0\.5 {
      top: 0.5rem;
    }
    .lg\:right-0\.5 {
      right: 0.5rem;
    }
    .lg\:left-0\.5 {
      left: 0.5rem;
    }

    @for $i from 0 through $limit-unit {
      .lg\:top-#{$i} {
        top: #{$i}rem;
      }
      .lg\:-top-#{$i} {
        top: -#{$i}rem;
      }
      .lg\:left-#{$i} {
        left: #{$i}rem;
      }
      .lg\:-left-#{$i} {
        left: -#{$i}rem;
      }
      .lg\:-right-#{$i} {
        right: -#{$i}rem;
      }
      .lg\:right-#{$i} {
        right: #{$i}rem;
      }
      .lg\:bottom-#{$i} {
        bottom: #{$i}rem;
      }
      .lg\:-bottom-#{$i} {
        bottom: -#{$i}rem;
      }
      .lg\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
  @include devices($xl) {
    .xl\: {
      &relative {
        position: relative;
      }

      &absolute {
        position: absolute;
      }

      &static {
        position: static;
      }

      &fixed {
        position: fixed;
      }
    }
    .xl\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .xl\:inset {
      &-0 {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      &-x-0 {
        left: 0px;
        right: 0px;
      }
      &-y-0 {
        top: 0px;
        bottom: 0px;
      }
    }
    .xl\:bottom-0\.5 {
      bottom: 0.5rem;
    }
    .xl\:top-0\.5 {
      top: 0.5rem;
    }
    .xl\:right-0\.5 {
      right: 0.5rem;
    }
    .xl\:left-0\.5 {
      left: 0.5rem;
    }

    @for $i from 0 through $limit-unit {
      .xl\:top-#{$i} {
        top: #{$i}rem;
      }
      .xl\:-top-#{$i} {
        top: -#{$i}rem;
      }
      .xl\:left-#{$i} {
        left: #{$i}rem;
      }
      .xl\:-left-#{$i} {
        left: -#{$i}rem;
      }
      .xl\:-right-#{$i} {
        right: -#{$i}rem;
      }
      .xl\:right-#{$i} {
        right: #{$i}rem;
      }
      .xl\:bottom-#{$i} {
        bottom: #{$i}rem;
      }
      .xl\:-bottom-#{$i} {
        bottom: -#{$i}rem;
      }
      .xl\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
  @include devices($custom2) {
    .custom2\: {
      &relative {
        position: relative;
      }

      &absolute {
        position: absolute;
      }

      &static {
        position: static;
      }

      &fixed {
        position: fixed;
      }
    }
    .custom2\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .custom2\:inset {
      &-0 {
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      &-x-0 {
        left: 0px;
        right: 0px;
      }
      &-y-0 {
        top: 0px;
        bottom: 0px;
      }
    }
    .custom2\:bottom-0\.5 {
      bottom: 0.5rem;
    }
    .custom2\:top-0\.5 {
      top: 0.5rem;
    }
    .custom2\:right-0\.5 {
      right: 0.5rem;
    }
    .custom2\:left-0\.5 {
      left: 0.5rem;
    }

    @for $i from 0 through $limit-unit {
      .custom2\:top-#{$i} {
        top: #{$i}rem;
      }
      .custom2\:-top-#{$i} {
        top: -#{$i}rem;
      }
      .custom2\:left-#{$i} {
        left: #{$i}rem;
      }
      .custom2\:-left-#{$i} {
        left: -#{$i}rem;
      }
      .custom2\:-right-#{$i} {
        right: -#{$i}rem;
      }
      .custom2\:right-#{$i} {
        right: #{$i}rem;
      }
      .custom2\:bottom-#{$i} {
        bottom: #{$i}rem;
      }
      .custom2\:-bottom-#{$i} {
        bottom: -#{$i}rem;
      }
      .custom2\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
}
