@if $use-helper-grid == true {
  @for $i from 1 through 12 {
    .grid-cols {
      &-#{$i} {
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
      }
    }
  }
  .grid-cols-none {
    grid-template-columns: none;
  }
  @include max_devices($lg) {
    @for $i from 1 through 12 {
      .lg\:grid-cols {
        &-#{$i} {
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }
      }
    }

    .lg\:grid-cols-none {
      grid-template-columns: none;
    }
  }
  @include max_devices($md) {
    @for $i from 1 through 12 {
      .md\:grid-cols {
        &-#{$i} {
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }
      }
    }

    .md\:grid-cols-none {
      grid-template-columns: none;
    }
  }
  @include max_devices($sm) {
    @for $i from 1 through 12 {
      .sm\:grid-cols {
        &-#{$i} {
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }
      }
    }

    .sm\:grid-cols-none {
      grid-template-columns: none;
    }
  }

  .col {
    &-auto {
      grid-column: auto;
    }

    @for $i from 1 through 12 {
      &-span-#{$i} {
        grid-column: span #{$i} / span #{$i};
      }
    }

    &-span-full {
      grid-column: 1/-1;
    }

    @for $i from 1 through 12 {
      &-start-#{$i} {
        grid-column-start: #{$i};
      }
    }

    &-start-auto {
      grid-column-start: auto;
    }

    @for $i from 1 through 12 {
      &-end-#{$i} {
        grid-column-end: #{$i};
      }
    }

    &-end-auto {
      grid-column-end: auto;
    }
  }
  @include max_devices($lg) {
    .lg\:col {
      &-auto {
        grid-column: auto;
      }

      @for $i from 1 through 12 {
        &-span-#{$i} {
          grid-column: span #{$i} / span #{$i};
        }
      }

      &-span-full {
        grid-column: 1/-1;
      }

      @for $i from 1 through 12 {
        &-start-#{$i} {
          grid-column-start: #{$i};
        }
      }

      &-start-auto {
        grid-column-start: auto;
      }

      @for $i from 1 through 12 {
        &-end-#{$i} {
          grid-column-end: #{$i};
        }
      }

      &-end-auto {
        grid-column-end: auto;
      }
    }
  }
  @include max_devices($md) {
    .md\:col {
      &-auto {
        grid-column: auto;
      }

      @for $i from 1 through 12 {
        &-span-#{$i} {
          grid-column: span #{$i} / span #{$i};
        }
      }

      &-span-full {
        grid-column: 1/-1;
      }

      @for $i from 1 through 12 {
        &-start-#{$i} {
          grid-column-start: #{$i};
        }
      }

      &-start-auto {
        grid-column-start: auto;
      }

      @for $i from 1 through 12 {
        &-end-#{$i} {
          grid-column-end: #{$i};
        }
      }

      &-end-auto {
        grid-column-end: auto;
      }
    }
  }
  @include max_devices($sm) {
    .sm\:col {
      &-auto {
        grid-column: auto;
      }

      @for $i from 1 through 12 {
        &-span-#{$i} {
          grid-column: span #{$i} / span #{$i};
        }
      }

      &-span-full {
        grid-column: 1/-1;
      }

      @for $i from 1 through 12 {
        &-start-#{$i} {
          grid-column-start: #{$i};
        }
      }

      &-start-auto {
        grid-column-start: auto;
      }

      @for $i from 1 through 12 {
        &-end-#{$i} {
          grid-column-end: #{$i};
        }
      }

      &-end-auto {
        grid-column-end: auto;
      }
    }
  }

  .grid {
    &-rows-none {
      grid-template-rows: none;
    }

    @for $i from 1 through 6 {
      &-rows-#{$i} {
        grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
      }
    }
  }
  .rows {
    &-auto {
      grid-rows: auto;
    }

    @for $i from 1 through 12 {
      &-span-#{$i} {
        grid-rows: span #{$i} / span #{$i};
      }
    }

    &-span-full {
      grid-rows: 1/-1;
    }

    @for $i from 1 through 12 {
      &-start-#{$i} {
        grid-rows-start: #{$i};
      }
    }

    &-start-auto {
      grid-rows-start: auto;
    }

    @for $i from 1 through 12 {
      &-end-#{$i} {
        grid-rows-end: #{$i};
      }
    }

    &-end-auto {
      grid-rows-end: auto;
    }
  }
  @include max_devices($lg) {
    .lg\:rows {
      &-auto {
        grid-rows: auto;
      }

      @for $i from 1 through 12 {
        &-span-#{$i} {
          grid-rows: span #{$i} / span #{$i};
        }
      }

      &-span-full {
        grid-rows: 1/-1;
      }

      @for $i from 1 through 12 {
        &-start-#{$i} {
          grid-rows-start: #{$i};
        }
      }

      &-start-auto {
        grid-rows-start: auto;
      }

      @for $i from 1 through 12 {
        &-end-#{$i} {
          grid-rows-end: #{$i};
        }
      }

      &-end-auto {
        grid-rows-end: auto;
      }
    }
  }
  @include max_devices($md) {
    .md\:rows {
      &-auto {
        grid-rows: auto;
      }

      @for $i from 1 through 12 {
        &-span-#{$i} {
          grid-rows: span #{$i} / span #{$i};
        }
      }

      &-span-full {
        grid-rows: 1/-1;
      }

      @for $i from 1 through 12 {
        &-start-#{$i} {
          grid-rows-start: #{$i};
        }
      }

      &-start-auto {
        grid-rows-start: auto;
      }

      @for $i from 1 through 12 {
        &-end-#{$i} {
          grid-rows-end: #{$i};
        }
      }

      &-end-auto {
        grid-rows-end: auto;
      }
    }
  }
  @include max_devices($sm) {
    .sm\:rows {
      &-auto {
        grid-rows: auto;
      }

      @for $i from 1 through 12 {
        &-span-#{$i} {
          grid-rows: span #{$i} / span #{$i};
        }
      }

      &-span-full {
        grid-rows: 1/-1;
      }

      @for $i from 1 through 12 {
        &-start-#{$i} {
          grid-rows-start: #{$i};
        }
      }

      &-start-auto {
        grid-rows-start: auto;
      }

      @for $i from 1 through 12 {
        &-end-#{$i} {
          grid-rows-end: #{$i};
        }
      }

      &-end-auto {
        grid-rows-end: auto;
      }
    }
  }

  .gap{
    &-0{gap: 0px};
    &-x-0{column-gap: 0px};
    &-y-0{row-gap: 0px};
    &-px{gap:1px};
    &-x-px{column-gap: 1px};
    &-y-px{row-gap: 1px};
    &-0\.5{gap: 0.5rem};
    &-x-0\.5{column-gap: 0.5rem};
    &-y-0\.5{row-gap: 0.5rem};
    &-1{gap: 1rem};
    &-x-1{column-gap: 1rem};
    &-y-1{row-gap: 1rem};
    &-1\.5{gap:1.5rem};
    &-x-1\.5{column-gap:1.5rem};
    &-y-1\.5{row-gap:1.5rem};
    &-2{gap: 2rem};
    &-x-2{column-gap: 2rem};
    &-y-2{row-gap: 2rem};
    &-2\.5{gap: 2.5rem};
    &-x-2\.5{column-gap: 2.5rem};
    &-y-2\.5{row-gap: 2.5rem};
    &-3{gap: 3rem};
    &-x-3{column-gap: 3rem};
    &-y-3{row-gap: 3rem};
    &-3\.5{gap: 3.5rem};
    &-x-3\.5{column-gap: 3.5rem};
    &-y-3\.5{row-gap: 3.5rem};
    &-4{gap: 4rem};
    &-x-4{column-gap: 4rem};
    &-y-4{row-gap: 4rem};
    &-5{gap: 5rem};
    &-x-5{column-gap: 5rem};
    &-y-5{row-gap: 5rem};
    &-6{gap: 6rem};
    &-x-6{column-gap: 6rem};
    &-y-6{row-gap: 6rem};
    &-7{gap: 7rem};
    &-x-7{column-gap: 7rem};
    &-y-7{row-gap: 7rem};
    &-8{gap: 8rem};
    &-x-8{column-gap: 8rem};
    &-y-8{row-gap: 8rem};
    &-9{gap: 9rem};
    &-x-9{column-gap: 9rem};
    &-y-9{row-gap: 9rem};
    &-10{gap: 10rem};
    &-x-10{column-gap: 10rem};
    &-y-10{row-gap: 10rem};
    &-11{gap: 11rem};
    &-x-11{column-gap: 11rem};
    &-y-11{row-gap: 11rem};
    &-12{gap: 12rem};
    &-x-12{column-gap: 12rem};
    &-y-12{row-gap: 12rem};
    &-14{gap: 14rem};
    &-x-14{column-gap: 14rem};
    &-y-14{row-gap: 14rem};
    &-16{gap: 16rem};
    &-x-16{column-gap: 16rem};
    &-y-16{row-gap: 16rem};
    &-20{gap: 20rem};
    &-x-20{column-gap: 20rem};
    &-y-20{row-gap: 20rem};
    &-24{gap:24rem};
    &-x-24{column-gap:24rem};
    &-y-24{row-gap:24rem};
    &-28{gap: 28rem};
    &-x-28{column-gap: 28rem};
    &-y-28{row-gap: 28rem};
    &-32{gap: 32rem};
    &-x-32{column-gap: 32rem};
    &-y-32{row-gap: 32rem};
    &-36{gap: 36rem};
    &-x-36{column-gap: 36rem};
    &-y-36{row-gap: 36rem};
  }
  @include max_devices($lg) {
    .lg\:gap{
      &-0{gap: 0px};
      &-x-0{column-gap: 0px};
      &-y-0{row-gap: 0px};
      &-px{gap:1px};
      &-x-px{column-gap: 1px};
      &-y-px{row-gap: 1px};
      &-0\.5{gap: 0.5rem};
      &-x-0\.5{column-gap: 0.5rem};
      &-y-0\.5{row-gap: 0.5rem};
      &-1{gap: 1rem};
      &-x-1{column-gap: 1rem};
      &-y-1{row-gap: 1rem};
      &-1\.5{gap:1.5rem};
      &-x-1\.5{column-gap:1.5rem};
      &-y-1\.5{row-gap:1.5rem};
      &-2{gap: 2rem};
      &-x-2{column-gap: 2rem};
      &-y-2{row-gap: 2rem};
      &-2\.5{gap: 2.5rem};
      &-x-2\.5{column-gap: 2.5rem};
      &-y-2\.5{row-gap: 2.5rem};
      &-3{gap: 3rem};
      &-x-3{column-gap: 3rem};
      &-y-3{row-gap: 3rem};
      &-3\.5{gap: 3.5rem};
      &-x-3\.5{column-gap: 3.5rem};
      &-y-3\.5{row-gap: 3.5rem};
      &-4{gap: 4rem};
      &-x-4{column-gap: 4rem};
      &-y-4{row-gap: 4rem};
      &-5{gap: 5rem};
      &-x-5{column-gap: 5rem};
      &-y-5{row-gap: 5rem};
      &-6{gap: 6rem};
      &-x-6{column-gap: 6rem};
      &-y-6{row-gap: 6rem};
      &-7{gap: 7rem};
      &-x-7{column-gap: 7rem};
      &-y-7{row-gap: 7rem};
      &-8{gap: 8rem};
      &-x-8{column-gap: 8rem};
      &-y-8{row-gap: 8rem};
      &-9{gap: 9rem};
      &-x-9{column-gap: 9rem};
      &-y-9{row-gap: 9rem};
      &-10{gap: 10rem};
      &-x-10{column-gap: 10rem};
      &-y-10{row-gap: 10rem};
      &-11{gap: 11rem};
      &-x-11{column-gap: 11rem};
      &-y-11{row-gap: 11rem};
      &-12{gap: 12rem};
      &-x-12{column-gap: 12rem};
      &-y-12{row-gap: 12rem};
      &-14{gap: 14rem};
      &-x-14{column-gap: 14rem};
      &-y-14{row-gap: 14rem};
      &-16{gap: 16rem};
      &-x-16{column-gap: 16rem};
      &-y-16{row-gap: 16rem};
      &-20{gap: 20rem};
      &-x-20{column-gap: 20rem};
      &-y-20{row-gap: 20rem};
      &-24{gap:24rem};
      &-x-24{column-gap:24rem};
      &-y-24{row-gap:24rem};
      &-28{gap: 28rem};
      &-x-28{column-gap: 28rem};
      &-y-28{row-gap: 28rem};
      &-32{gap: 32rem};
      &-x-32{column-gap: 32rem};
      &-y-32{row-gap: 32rem};
      &-36{gap: 36rem};
      &-x-36{column-gap: 36rem};
      &-y-36{row-gap: 36rem};
    }
  }
  @include max_devices($md) {
    .md\:gap{
      &-0{gap: 0px};
      &-x-0{column-gap: 0px};
      &-y-0{row-gap: 0px};
      &-px{gap:1px};
      &-x-px{column-gap: 1px};
      &-y-px{row-gap: 1px};
      &-0\.5{gap: 0.5rem};
      &-x-0\.5{column-gap: 0.5rem};
      &-y-0\.5{row-gap: 0.5rem};
      &-1{gap: 1rem};
      &-x-1{column-gap: 1rem};
      &-y-1{row-gap: 1rem};
      &-1\.5{gap:1.5rem};
      &-x-1\.5{column-gap:1.5rem};
      &-y-1\.5{row-gap:1.5rem};
      &-2{gap: 2rem};
      &-x-2{column-gap: 2rem};
      &-y-2{row-gap: 2rem};
      &-2\.5{gap: 2.5rem};
      &-x-2\.5{column-gap: 2.5rem};
      &-y-2\.5{row-gap: 2.5rem};
      &-3{gap: 3rem};
      &-x-3{column-gap: 3rem};
      &-y-3{row-gap: 3rem};
      &-3\.5{gap: 3.5rem};
      &-x-3\.5{column-gap: 3.5rem};
      &-y-3\.5{row-gap: 3.5rem};
      &-4{gap: 4rem};
      &-x-4{column-gap: 4rem};
      &-y-4{row-gap: 4rem};
      &-5{gap: 5rem};
      &-x-5{column-gap: 5rem};
      &-y-5{row-gap: 5rem};
      &-6{gap: 6rem};
      &-x-6{column-gap: 6rem};
      &-y-6{row-gap: 6rem};
      &-7{gap: 7rem};
      &-x-7{column-gap: 7rem};
      &-y-7{row-gap: 7rem};
      &-8{gap: 8rem};
      &-x-8{column-gap: 8rem};
      &-y-8{row-gap: 8rem};
      &-9{gap: 9rem};
      &-x-9{column-gap: 9rem};
      &-y-9{row-gap: 9rem};
      &-10{gap: 10rem};
      &-x-10{column-gap: 10rem};
      &-y-10{row-gap: 10rem};
      &-11{gap: 11rem};
      &-x-11{column-gap: 11rem};
      &-y-11{row-gap: 11rem};
      &-12{gap: 12rem};
      &-x-12{column-gap: 12rem};
      &-y-12{row-gap: 12rem};
      &-14{gap: 14rem};
      &-x-14{column-gap: 14rem};
      &-y-14{row-gap: 14rem};
      &-16{gap: 16rem};
      &-x-16{column-gap: 16rem};
      &-y-16{row-gap: 16rem};
      &-20{gap: 20rem};
      &-x-20{column-gap: 20rem};
      &-y-20{row-gap: 20rem};
      &-24{gap:24rem};
      &-x-24{column-gap:24rem};
      &-y-24{row-gap:24rem};
      &-28{gap: 28rem};
      &-x-28{column-gap: 28rem};
      &-y-28{row-gap: 28rem};
      &-32{gap: 32rem};
      &-x-32{column-gap: 32rem};
      &-y-32{row-gap: 32rem};
      &-36{gap: 36rem};
      &-x-36{column-gap: 36rem};
      &-y-36{row-gap: 36rem};
    }
  }
  @include max_devices($sm) {
    .sm\:gap{
      &-0{gap: 0px};
      &-x-0{column-gap: 0px};
      &-y-0{row-gap: 0px};
      &-px{gap:1px};
      &-x-px{column-gap: 1px};
      &-y-px{row-gap: 1px};
      &-0\.5{gap: 0.5rem};
      &-x-0\.5{column-gap: 0.5rem};
      &-y-0\.5{row-gap: 0.5rem};
      &-1{gap: 1rem};
      &-x-1{column-gap: 1rem};
      &-y-1{row-gap: 1rem};
      &-1\.5{gap:1.5rem};
      &-x-1\.5{column-gap:1.5rem};
      &-y-1\.5{row-gap:1.5rem};
      &-2{gap: 2rem};
      &-x-2{column-gap: 2rem};
      &-y-2{row-gap: 2rem};
      &-2\.5{gap: 2.5rem};
      &-x-2\.5{column-gap: 2.5rem};
      &-y-2\.5{row-gap: 2.5rem};
      &-3{gap: 3rem};
      &-x-3{column-gap: 3rem};
      &-y-3{row-gap: 3rem};
      &-3\.5{gap: 3.5rem};
      &-x-3\.5{column-gap: 3.5rem};
      &-y-3\.5{row-gap: 3.5rem};
      &-4{gap: 4rem};
      &-x-4{column-gap: 4rem};
      &-y-4{row-gap: 4rem};
      &-5{gap: 5rem};
      &-x-5{column-gap: 5rem};
      &-y-5{row-gap: 5rem};
      &-6{gap: 6rem};
      &-x-6{column-gap: 6rem};
      &-y-6{row-gap: 6rem};
      &-7{gap: 7rem};
      &-x-7{column-gap: 7rem};
      &-y-7{row-gap: 7rem};
      &-8{gap: 8rem};
      &-x-8{column-gap: 8rem};
      &-y-8{row-gap: 8rem};
      &-9{gap: 9rem};
      &-x-9{column-gap: 9rem};
      &-y-9{row-gap: 9rem};
      &-10{gap: 10rem};
      &-x-10{column-gap: 10rem};
      &-y-10{row-gap: 10rem};
      &-11{gap: 11rem};
      &-x-11{column-gap: 11rem};
      &-y-11{row-gap: 11rem};
      &-12{gap: 12rem};
      &-x-12{column-gap: 12rem};
      &-y-12{row-gap: 12rem};
      &-14{gap: 14rem};
      &-x-14{column-gap: 14rem};
      &-y-14{row-gap: 14rem};
      &-16{gap: 16rem};
      &-x-16{column-gap: 16rem};
      &-y-16{row-gap: 16rem};
      &-20{gap: 20rem};
      &-x-20{column-gap: 20rem};
      &-y-20{row-gap: 20rem};
      &-24{gap:24rem};
      &-x-24{column-gap:24rem};
      &-y-24{row-gap:24rem};
      &-28{gap: 28rem};
      &-x-28{column-gap: 28rem};
      &-y-28{row-gap: 28rem};
      &-32{gap: 32rem};
      &-x-32{column-gap: 32rem};
      &-y-32{row-gap: 32rem};
      &-36{gap: 36rem};
      &-x-36{column-gap: 36rem};
      &-y-36{row-gap: 36rem};
    }
  }
}
//PLOP_COMMENT