@if $use-helper-position-styles == true {
  .p {
    &-r {
      position: relative;
    }

    &-a {
      position: absolute;
    }

    &-s {
      position: static;
    }

    &-f {
      position: fixed;
    }
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .b-0\.5 {
    bottom: 0.5rem;
  }
  @for $i from 0 through $limit-unit {
    .t-#{$i} {
      top: #{$i}rem;
    }
    .-t-#{$i} {
      top: -#{$i}rem;
    }
    .l-#{$i} {
      left: #{$i}rem;
    }
    .-l-#{$i} {
      left: -#{$i}rem;
    }
    .r-#{$i} {
      right: #{$i}rem;
    }
    .-r-#{$i} {
      right: -#{$i}rem;
    }
    .b-#{$i} {
      bottom: #{$i}rem;
    }
    .-b-#{$i} {
      bottom: -#{$i}rem;
    }
    .z-#{$i} {
      z-index: #{$i};
    }
  }
  .l-50\% {
    left: 50%;
    transform: translateX(-50%);
  }

  .t-50\% {
    top: 50%;
    transform: translateY(-50%);
  }
  t-none {
    top: unset;
    transform: unset;
  }
  b-none {
    bottom: unset;
  }
  l-none {
    left: unset;
    transform: unset;
  }
  r-none {
    right: unset;
  }
  @include max_devices($lg) {
    .lg\:p {
      &-r {
        position: relative;
      }

      &-a {
        position: absolute;
      }

      &-s {
        position: static;
      }

      &-f {
        position: fixed;
      }
    }
    .lg\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .lg\:t-none {
      top: unset;
      transform: unset;
    }
    .lg\:b-none {
      bottom: unset;
    }
    .lg\:l-none {
      left: unset;
      transform: unset;
    }
    .lg\:r-none {
      right: unset;
    }

    @for $i from 0 through $limit-unit {
      .lg\:t-#{$i} {
        top: #{$i}rem;
      }
      .lg\:-t-#{$i} {
        top: -#{$i}rem;
      }
      .lg\:l-#{$i} {
        left: #{$i}rem;
      }
      .lg\:-l-#{$i} {
        left: -#{$i}rem;
      }
      .lg\:r-#{$i} {
        right: #{$i}rem;
      }
      .lg\:-r-#{$i} {
        right: -#{$i}rem;
      }
      .lg\:b-#{$i} {
        bottom: #{$i}rem;
      }
      .lg\:-b-#{$i} {
        bottom: -#{$i}rem;
      }
      .lg\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
  @include max_devices($md) {
    .md\:p {
      &-r {
        position: relative;
      }

      &-a {
        position: absolute;
      }

      &-s {
        position: static;
      }

      &-f {
        position: fixed;
      }
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .md\:t-none {
      top: unset;
      transform: unset;
    }
    .md\:b-none {
      bottom: unset;
    }
    .md\:l-none {
      left: unset;
      transform: unset;
    }
    .md\:r-none {
      right: unset;
    }

    @for $i from 0 through $limit-unit {
      .md\:t-#{$i} {
        top: #{$i}rem;
      }
      .md\:-t-#{$i} {
        top: -#{$i}rem;
      }
      .md\:l-#{$i} {
        left: #{$i}rem;
      }
      .md\:-l-#{$i} {
        left: -#{$i}rem;
      }
      .md\:r-#{$i} {
        right: #{$i}rem;
      }
      .md\:-r-#{$i} {
        right: -#{$i}rem;
      }
      .md\:b-#{$i} {
        bottom: #{$i}rem;
      }
      .md\:-b-#{$i} {
        bottom: -#{$i}rem;
      }
      .md\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
  @include max_devices($sm) {
    .sm\:p {
      &-r {
        position: relative;
      }

      &-a {
        position: absolute;
      }

      &-s {
        position: static;
      }

      &-f {
        position: fixed;
      }
    }
    .sm\:centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .sm\:t-none {
      top: unset;
      transform: unset;
    }
    .sm\:b-none {
      bottom: unset;
    }
    .sm\:l-none {
      left: unset;
      transform: unset;
    }
    .sm\:r-none {
      right: unset;
    }

    @for $i from 0 through $limit-unit {
      .sm\:t-#{$i} {
        top: #{$i}rem;
      }
      .sm\:-t-#{$i} {
        top: -#{$i}rem;
      }
      .sm\:l-#{$i} {
        left: #{$i}rem;
      }
      .sm\:-l-#{$i} {
        left: -#{$i}rem;
      }
      .sm\:-r-#{$i} {
        right: -#{$i}rem;
      }
      .sm\:r-#{$i} {
        right: #{$i}rem;
      }
      .sm\:b-#{$i} {
        bottom: #{$i}rem;
      }
      .sm\:-b-#{$i} {
        bottom: -#{$i}rem;
      }
      .sm\:z-#{$i} {
        z-index: #{$i};
      }
    }
  }
}
