@if $use-helper-limit-text == true {
  @for $i from 0 through 6 {
    .text-limit-#{$i} {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: #{$i};
      -webkit-box-orient: vertical;
    }
  }

  @include devices($custom) {
    @for $i from 0 through 6 {
      .custom\:text-limit-#{$i} {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
      }
    }
  }
  @include devices($sm) {
    @for $i from 0 through 6 {
      .sm\:text-limit-#{$i} {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
      }
    }
  }
  @include devices($md) {
    @for $i from 0 through 6 {
      .md\:text-limit-#{$i} {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
      }
    }
  }
  @include devices($lg) {
    @for $i from 0 through 6 {
      .lg\:text-limit-#{$i} {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
      }
    }
  }
  @include devices($xl) {
    @for $i from 0 through 6 {
      .xl\:text-limit-#{$i} {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
      }
    }
  }
  @include devices($custom2) {
    @for $i from 0 through 6 {
      .custom2\:text-limit-#{$i} {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
      }
    }
  }
}
