@import "app.scss";

@import "./optional/library/main";

@import "base/fonts";

html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  font-size: 10px;
  @include breakpoints(
    "font-size",
    "vw",
    (
      1920: 0.521vw,
      768: 1.302,
    )
  );
}

body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  text-rendering: optimizeLegibility;
  background-color: $color-base-background;
  color: $color-base-text;
  max-width: 1920px;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: $color-bg-scroll;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-scroll;
    border-radius: 45rem;
  }

  @include breakpoints(
    "font-size",
    "vw",
    (
      $md: $md-base-font-size,
      $sm: $sm-base-font-size,
    )
  );
}

.container {
  width: $width-container;
  @include max_devices(768) {
    width: 100%;
  }
}

#wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

@import "components/etc.scss";
