.bgframe {
    @include between_devices(769px, 1600px) {
        left: 50%;
        transform: translateX(-50%);
    }

    @include max_devices(768) {
        left: 0;
        transform: unset;
    }
    .bg-frame1 {
        background: url(../images/bg-frame1.jpg);
        @include background-img(center, contain);
        @include box(192rem, 96.7rem);
        position: absolute;

        @include max_devices(768) {
            background: url(../images/md-bg-frame1.jpg);
            @include background-img(top center, cover);
            @include box(100%, 109.8rem);
            position: relative;
        }
        .obj-nhanvat1 {
            right: 13rem;
            top: 0.2rem;
            background: url(../images/obj-nv.png);
            @include background-img(center, contain);
            @include box(103.6rem, 96.4rem);

            @include between_devices(769px, 1440px) {
                right: 47rem;
            }

            @include max_devices(768) {
                display: none;
            }
        }
    }
    .bg-frame2 {
        background: url(../images/bg-frame2.png);
        @include background-img(center, contain);
        @include box(192rem, 111.8rem);
        margin-top: 61.4rem;

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            background: url(../images/md-bg-frame2.jpg);
            @include background-img(top center, cover);
            @include box(100%, 81.5rem);
            margin-top: unset;
        }
    }
    .bg-frame3 {
        background: url(../images/bg-frame3.jpg);
        @include background-img(center, contain);
        @include box(192rem, 67rem);

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            background: url(../images/md-bg-frame3.jpg);
            @include background-img(top center, cover);
            @include box(100%, 77.4rem);
        }
    }
    .bg-frame4 {
        background: url(../images/bg-frame4.jpg);
        @include background-img(center, contain);
        @include box(192rem, 76.8rem);

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            background: url(../images/md-bg-frame4.jpg);
            @include background-img(top center, cover);
            @include box(100%, 79.2rem);
        }
    }
    .bg-frame5 {
        background: url(../images/bg-frame5.jpg);
        @include background-img(center, contain);
        @include box(192rem, 65.7rem);

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            background: url(../images/md-bg-frame5.jpg);
            @include background-img(top center, cover);
            @include box(100%, 87.1rem);
        }
    }
    .bg-frame6 {
        background: url(../images/bg-frame6.jpg);
        @include background-img(center, contain);
        @include box(192rem, 48rem);

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            background: url(../images/md-bg-frame6.jpg);
            @include background-img(top center, cover);
            @include box(100%, 101.9rem);
        }
    }
    .bg-frame7 {
        background: url(../images/bg-frame7.jpg);
        @include background-img(center, contain);
        @include box(192rem, 63.1rem);

        @include max_devices(768) {
            display: none;
        }
        .obj-nhanvat1 {
            background: url(../images/obj-nv2.png);
            @include background-img(center, contain);
            @include box(72.8rem, 76.7rem);
            right: 0;
            bottom: 0;

            @include max_devices(768) {
                display: none;
            }
        }
    }
    .bg-frame8 {
        background: url(../images/bg-frame8.jpg);
        @include background-img(center, contain);
        @include box(192rem, 74.9rem);

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            display: none;
        }
    }
    .bg-frame9 {
        background: url(../images/bg-frame9.jpg);
        @include background-img(center, contain);
        @include box(192rem, 75.7rem);

        @include between_devices(769px, 1600px) {
            @include background-img(center, cover);
            width: 100%;
        }

        @include max_devices(768) {
            background: url(../images/md-bg-frame7.jpg);
            @include background-img(center, cover);
            @include box(100%, 72.2rem);
        }
    }
}
