.frame9 {
    margin-top: 16rem;

    @include max_devices(768) {
        margin-top: 7rem;
    }
    &--title {
        @include box(82.7rem, 14.8rem);

        @include max_devices(768) {
            width: 100%;
        }
    }

    &--content {
        .link {
            background: url(../images/bg-button-type15.png);
            @include background-img(center, contain);
            @include box(9.1rem, 32.8rem);

            &:hover {
                background: url(../images/bg-button-type16.png);
                @include background-img(center, contain);
            }
        }
        .number {
            background: url(../images/obj1.png);
            @include background-img(center, contain);
            @include box(11rem, 10.8rem);
            font-size: 2.5rem;

            position: absolute;
            top: 0;
            left: 54%;
            transform: translateX(-50%);
        }
        .text {
            padding-top: 12rem;
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }
}
