.frame4 {
    @include max_devices(768) {
        margin-top: 19rem;
    }
    &--content {
        width: 126.5rem;

        // Mobi
        @include max_devices(768) {
            width: 100%;
        }

        &:not(.slick-initialized) {
            display: none;
        }

        .item {
            display: flex !important;
        }
    }

    .item--text {
        @include max_devices(768) {
            padding: 0 2rem;
        }

        img {
            @include box(34.4rem, 26.3rem);

            @include max_devices(768) {
                @include box(24.5rem, 18.8rem);
            }
        }
        .text {
            border-left: 0.4rem solid #d33858;
            line-height: 2.7rem;
        }
    }
    .item--img {
        @include max_devices(768) {
            padding: 0 2rem;
        }

        img {
            @include box(85.9rem, 49.4rem);
            // Mobi
            @include max_devices(768) {
                width: 95%;
                height: 43rem;
            }

            @include max_devices(414) {
                height: 38rem;
            }
        }
    }

    .slick-dots {
        bottom: -8rem;

        @include max_devices(414) {
            bottom: -5rem;
        }
    }
}
