.title {
  font-size: 3rem;
  line-height: 2.58rem;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include background-img(center, contain);
  }
}
