* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*:after, *:before {
  box-sizing: border-box;
}

input,
button {
  border: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
abbr {
  text-decoration: none;
}
a:hover, a:focus,
abbr:hover,
abbr:focus {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: border-box;
  margin: 0;
  outline: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  height: auto;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

input[type=radio] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
  color: inherit;
}

textarea {
  resize: vertical;
}

input[type=search]::-webkit-search-decoration {
  display: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-radius: 0;
}

[disabled],
[disabled] * {
  box-shadow: none;
  cursor: not-allowed;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

/*! sanitize.css v7.0.0 | CC0 License | github.com/csstools/sanitize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: border-box;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default user interface font in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Use the default cursor in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 1 */
  line-height: 1.15;
  /* 2 */
  cursor: default;
  /* 3 */
  -moz-tab-size: 4;
       tab-size: 4;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
}

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Remove the text shadow on text selections in Firefox 61- (opinionated).
 * 1. Restore the coloring undone by defining the text shadow
 *    in all browsers (opinionated).
 */

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 * 2. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled],
[disabled] {
  cursor: disabled;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

.pagination {
  margin: 2rem 0;
}
.pagination ul {
  text-align: center;
}
.pagination ul li {
  display: inline-block;
  width: 4.3rem;
  height: 4.3rem;
  line-height: 4.3rem;
  background: url(../images/bg-item-pagination.png) no-repeat;
  background-position: left top;
}
.pagination ul li:hover, .pagination ul li.active {
  background-position: right top;
}
.pagination ul li a {
  color: #817874;
  font-size: 2rem;
  position: relative;
  cursor: pointer;
}
.pagination ul li a span {
  visibility: hidden;
}
.pagination ul li a.prev i, .pagination ul li a.next i {
  position: absolute;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-right: 0.8rem solid #817874;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
}
.pagination ul li a.next i {
  border-right: transparent;
  border-left: 0.8rem solid #817874;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
}

html {
  font-size: 0.521vw;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: "tahoma";
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #000;
}

.container {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

#wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.title-main-content {
  font-size: 30px;
  color: #381615;
}
.title-main-content .txt-title {
  position: relative;
}
.title-main-content .txt-title:before, .title-main-content .txt-title:after {
  position: absolute;
  content: "";
  width: 262px;
  height: 13px;
  top: 15px;
}
.title-main-content .txt-title:before {
  left: -280px;
}
.title-main-content .txt-title:after {
  right: -280px;
  transform: rotateZ(180deg);
}

@media screen and (min-width: 769px) {
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}
@media screen and (max-width: 768px) {
  .md\:float-left {
    float: left;
  }
  .md\:float-right {
    float: right;
  }
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

@media screen and (min-width: 769px) {
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .static {
    position: static;
  }
  .fixed {
    position: fixed;
  }
}
@media screen and (max-width: 768px) {
  .md\:relative {
    position: relative;
  }
  .md\:absolute {
    position: absolute;
  }
  .md\:static {
    position: static;
  }
  .md\:fixed {
    position: fixed;
  }
}
@media screen and (min-width: 769px) {
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-just {
    text-align: justify;
  }
  .text-capitalized {
    text-transform: capitalize;
  }
  .text-small {
    font-variant-caps: small-caps;
    font-feature-settings: "smcp";
  }
  .text-upper {
    text-transform: uppercase;
  }
  .text-r {
    font-weight: 400;
  }
  .text-bold {
    font-weight: 600;
  }
  .text-bold {
    font-weight: bold;
  }

  .align-top {
    vertical-align: top;
  }
  .align-middle {
    vertical-align: top;
  }
  .align-bottom {
    vertical-align: top;
  }
}
@media screen and (max-width: 768px) {
  .md\:text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-just {
    text-align: justify;
  }
  .text-capitalized {
    text-transform: capitalize;
  }
  .text-small {
    font-variant-caps: small-caps;
    font-feature-settings: "smcp";
  }
  .text-upper {
    text-transform: uppercase;
  }
  .text-r {
    font-weight: 400;
  }
  .text-bold {
    font-weight: 600;
  }
  .text-bold {
    font-weight: bold;
  }

  .align-top {
    vertical-align: top;
  }
  .align-middle {
    vertical-align: top;
  }
  .align-bottom {
    vertical-align: top;
  }
}
@media screen and (max-width: 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:visible {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */