$breakpoints: (
  280: 280px,
  321: 321px,
  360: 360px,
  375: 375px,
  390: 390px,
  414: 414px,
  480: 480px,
  544: 544px,
  568: 568px,
  576: 576px,
  600: 600px,
  640: 640px,
  750: 750px,
  768: 768px,
  800: 800px,
  900: 900px,
  940: 940px,
  992: 992px,
  1000: 1000px,
  1023: 1023px,
  1024: 1024px,
  1030: 1030px,
  1155: 1155px,
  1168: 1168px,
  1180: 1180px,
  1200: 1200px,
  1280: 1280px,
  1360: 1360px,
  1366: 1366px,
  1440: 1440px,
  1600: 1600px,
  1920: 1920px,
);
@mixin devices($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}
$max_breakpoints: (
  1920: 1920px,
  1600: 1600px,
  1440: 1440px,
  1366: 1366px,
  1199: 1199px,
  1168: 1168px,
  1154: 1154px,
  1030: 1030px,
  1024: 1024px,
  1023: 1023px,
  999: 999px,
  991: 991px,
  768: 768px,
  767: 767px,
  750: 750px,
  680: 680px,
  667: 667px,
  640: 640px,
  568: 568px,
  480: 480px,
  414: 414px,
  899: 899px,
  639: 639px,
  360: 360px,
  320: 320px,
);
@mixin max_devices($max_breakpoint) {
  @if map-has-key($max_breakpoints, $max_breakpoint) {
    @media only screen and (max-width: #{map-get($max_breakpoints, $max_breakpoint)}) {
      @content;
    }
  }
}

@mixin between_devices($min_breakpoint, $max_breakpoint) {
  @media only screen and (min-width: $min_breakpoint) and (max-width: $max_breakpoint) {
    @content;
  }
}

@mixin background-img($position, $size: inherit) {
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin box($width, $height: $width, $base: 10) {
  width: $width;
  height: $height;
}
