$colors-map: (
  default: #fff,
  brand: (),
  base: (
    transparent: transparent,
    modal: #e4f2fd73,
    white: #ffffff,
    black: black,
    gray-50: #f9fafb,
    gray-100: #f3f4f6,
    gray-200: #e5e7eb,
    gray-300: #d1d5db,
    gray-400: #9ca3af,
    gray-500: #6b7280,
    gray-600: #4b5563,
    gray-700: #374151,
    gray-800: #1f2937,
    gray-900: #111827,
    red-50: #fef2f2,
    red-100: #fef2f2,
    red-200: rgb(254, 202, 202),
    red-300: rgb(252, 165, 165),
    red-400: rgb(248, 113, 113),
    red-500: rgb(239, 68, 68),
    red-600: rgb(220, 38, 38),
    red-700: rgb(185, 28, 28),
    red-800: rgb(153, 27, 27),
    red-900: rgb(127, 29, 29),
    yellow-50: rgb(255, 251, 235),
    yellow-100: rgb(254, 243, 199),
    yellow-200: rgb(253, 230, 138),
    yellow-300: rgb(252, 211, 77),
    yellow-400: rgb(251, 191, 36),
    yellow-500: rgb(245, 158, 11),
    yellow-600: rgb(217, 119, 6),
    yellow-700: rgb(180, 83, 9),
    yellow-800: rgb(146, 64, 14),
    yellow-900: rgb(120, 53, 15),
    green-50: rgb(236, 253, 245),
    green-100: rgb(209, 250, 229),
    green-200: rgb(167, 243, 208),
    green-300: rgb(110, 231, 183),
    green-400: rgb(52, 211, 153),
    green-500: rgb(16, 185, 129),
    green-600: rgb(5, 150, 105),
    green-700: rgb(4, 120, 87),
    green-800: rgb(6, 95, 70),
    green-900: rgb(6, 78, 59),
    blue-50: rgb(239, 246, 255),
    blue-100: rgb(219, 234, 254),
    blue-200: rgb(191, 219, 254),
    blue-300: rgb(147, 197, 253),
    blue-400: rgb(96, 165, 250),
    blue-500: rgb(59, 130, 246),
    blue-600: rgb(37, 99, 235),
    blue-700: rgb(29, 78, 216),
    blue-800: rgb(30, 64, 175),
    blue-900: rgb(30, 58, 138),
    blue-frame1: #1f232f,
    blue-frame2: #6889d0,
    blue-frame3: #4b5487,
  ),
);
