$base-font-size: calc(13px + (16 - 13) * ((100vw - 769px) / (1920 - 769)));
$md-base-font-size: 2.112rem;
$sm-base-font-size: 11px;

$base-font-typo: "Quicksand";
$base-color-typo: "Quicksand";
$secondary-color-typo: #B5B5B5;

$color-scroll: #B5B5B5;
$color-bg-scroll: #505050;

$lg : 1024;
$md : 768;
$sm : 568;

