// animation: zoom 2s linear infinite;
@keyframes zoom {
  //Phóng to ảnh
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes moveX {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

// animation: moveY 3s ease-in-out infinite;
// animation-delay: 0.35s; 0.7s; 1.05s;
@keyframes moveY {
  // Di chuyển lên xuống cho 1 loạt image trong <li></li>
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes scaleImg {
  0% {
    -webkit-transform: scale(50);
    transform: scale(50);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes movePos {
  0% {
    top: 30px;
  }
  25% {
    top: 35px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 35px;
  }
  100% {
    top: 30px;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #ff0000;
    -webkit-box-shadow: 0 0 40px #ff0000;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
  }
}

@keyframes brightness {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes tada_option {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: translate(-50%, -50%) scale3d(0.9, 0.9, 0.9)
      rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1)
      rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1)
      rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}

@keyframes pulse_option {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: translate(-50%, -50%) scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}

// Hiệu ứng ánh sáng lướt qua từ top left tới bottom right
@-webkit-keyframes animte_glass {
  0% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, -300%, 0);
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, -300%, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, 300%, 0);
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, 300%, 0);
  }
}
@keyframes animte_glass {
  0% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, -300%, 0);
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, -300%, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, 300%, 0);
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -45deg)
      translate3d(-10%, 300%, 0);
  }
}

// Từ bottom left tới top right
@keyframes animte_glass-tr {
  0% {
    transform: scale3d(2, 1.6, 2) rotate3d(0, 0, 1, 45deg)
      translate3d(0, 150%, 0);
  }
  50%,
  100% {
    transform: scale3d(2, 1.6, 2) rotate3d(0, 0, 1, 45deg)
      translate3d(0, -150%, 0);
  }
}

// How to use?
// .block {
//     position: relative;
//     overflow: hidden;
&::before {
  position: absolute;
  content: "";
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
  width: 400px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.7)),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  background-image: -o-linear-gradient(
    top,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  animation: animte_glass 4s linear infinite;
  -webkit-animation: animte_glass 4s linear infinite;
  mix-blend-mode: overlay;
}
// }
// Vòng quay xoay trên 10 vòng
@keyframes rotare1800 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
  100% {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}

// Tạo class, đặt id #rotate cho <img> của vòng quay đó
// .rotate-animation {
//     @include rotate-animation();
// }
// Ở vongquay.js add class: $("#rotate").addClass("rotate-animation");
// Bên partials/mixins.scss mở ra
// @mixin rotate-animation() {
//     animation: rotare1800 6s backwards;
// }
// Phóng to ảnh/slogan và nhỏ dần khi mới bắt đầu
@keyframes scaleImg {
  0% {
    -webkit-transform: scale(50);
    transform: scale(50);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: 30px;
  }
  25% {
    top: 35px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 35px;
  }
  100% {
    top: 30px;
  }
}

//  animation: rotate360 linear infinite;
@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse-option {
  20% {
    box-shadow: 0 0 0 0 rgba(241, 99, 120, 0.6), 0 0 0 0 rgba(241, 99, 120, 0.6);
  }
  40% {
    box-shadow: 0 0 0 15px rgba(241, 99, 120, 0.6),
      0 0 0 0 rgba(241, 99, 120, 0.6);
  }
  80% {
    box-shadow: 0 0 0 15px rgba(231, 76, 60, 0), 0 0 0 10px rgba(231, 76, 60, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(231, 76, 60, 0), 0 0 0 10px rgba(231, 76, 60, 0);
  }
}
