@import "_variables.scss";
@import "_mixins.scss";

/* FONT_FACE */
@include font-face("tahoma");

/* =Reset default browser CSS.
-------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

a img {
  border: 0;
}

figure {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* -------------------------------------------------------------- */

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover,
a:focus,
a:hover p,
select:hover,
select:focus,
select:active {
  text-decoration: none;
  outline: none !important;
}

a,
a:link {
  text-decoration: none;
  outline: none !important;
  color: #fff;
}

button {
  cursor: pointer;
}

.clearfix {
  &:after {
    content: "";
    visibility: hidden;
    display: table;
    clear: both;
  }
}

::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #595a5a;
}

::-moz-placeholder {
  /* Firefox, Chrome, Opera */
  color: #595a5a;
}

:-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #595a5a;
}

::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: #595a5a;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #595a5a;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #595a5a;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #595a5a;
}

*,
.box_sizing_border_box {
  box-sizing: border-box;
}

.a100 {
  width: 100%;
  height: 100%;
  display: block;
}

.t-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.img-responsive {
  max-width: 100%;
  width: auto;
  height: auto;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

// Xooay Hình theo trục X
.reverse-x {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

// Xoay Hình theo trục Y
.reverse-y {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

// Căn giữa
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
  &.a-center {
    align-items: center;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-space-between {
    justify-content: space-between;
  }
  &.j-space-around {
    justify-content: space-around;
  }
  &.c-direc {
    flex-direction: column;
  }
  &.f-wrap {
    flex-wrap: wrap;
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.btn {
  cursor: pointer;
}
