$use-color-classes: false;
$use-sass-debugger: true;
$use-image-position-classes: false;
$use-helper-float-styles: false;
$use-helper-margin-styles: false;
$use-helper-padding-styles: false;
$use-helper-text-styles: false;
$use-helper-visibility-styles: false;
$use-html-validator: true;
$use-helper-border-styles: false;
$use-helper-clearfix-class: false;
$use-helper-position-styles: false;
$use-helper-display-styles: false;
$use-helper-flex-styles: false;
$use-helper-box-styles: false;
$use-helper-wh-styles: false;
$use-helper-font-size-styles: false;
$use-helper-object-fit-styles: false;
$use-helper-limit-text: false;
$use-helper-transition: false;
$use-helper-overflow:false;
$use-helper-line-height : false;
$use-helper-grid : false;